body {
    background-image: url(bg3.png);  
    background-repeat: no-repeat;  
    background-size: cover;
    position: relative;
    backdrop-filter: blur(2px);
}
.container {
    width: 1540px;
    height: 140px;
    background: rgb(249, 232, 211);
    padding: 1px;
    margin: 30px auto;             
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
    text-align: center; 
    position: relative;
    bottom: 15px; 
    border-left: 7px solid rgb(135, 24, 24);             
}
.admin{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    color: rgb(18, 18, 18);                
    margin-bottom: 20px;
    font-style: oblique;
    letter-spacing: 10px;
    position: absolute;
    right: 500px;
    top: 30px;  
}
.logo-box {
    margin-bottom: 50px;
}
.logo {
    width: 125px;                
    height: auto;
    position: absolute;
    left: 30px;
    bottom: 10px;
}
.team {
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
    position: relative;
    top: 70%;   
    display: grid;
    grid-template-columns: 23% 23% 23%;
}
.card {
    width: 250px;
    background: #fff7e6;
    border-radius: 10px;
    text-align: center;
    padding: 15px 5px;
}
.card img {
    width: 150px;
    height: 170px;
    border-radius: 10%;
    object-fit: cover;
}
.card h3 {
    margin: 15px 0 5px;
}
.card p {
    margin: 0;
    font-size: 14px;
}

footer{
    text-align: center;
    position: relative;
    top: 25%;
    background-color: yellow;
}