body {
    background-image: url(bg3.png);  
    background-repeat: no-repeat;  
    background-size: cover;
    position: relative;
    backdrop-filter: blur(2px);
}
.content{
    position: absolute;
    top: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 270px;
    left: -38px;
    font-weight: bold;
    font-size: 42px;
}
.content{
    text-shadow: 3px 3px 0 #d94718;
}
.container {
    width: 1520px;
    height: 140px;
    background: rgb(249, 232, 211);
    padding: 1px;
    margin: 30px auto;             
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
    text-align: center; 
    position: relative;
    bottom: 15px; 
    border-left: 7px solid rgb(135, 24, 24);  
    top: -26px;           
}
.restaurant-name {
    font-size: 38px;
    font-weight: bolder;
    color: rgb(18, 18, 18);                
    margin-bottom: 20px;
    font-style: oblique;
    letter-spacing: 10px;
    position: absolute;
    right: 970px;
    top: 30px;  
}
.logo-box {
    margin-bottom: 50px;
}
.logo {
    width: 125px;                
    height: auto;
    position: absolute;
    left: 30px;
}
.reserve{
    font-size: 20px;
    text-align: right;
    position: relative;
    right: 60px;
    top: 60px;
}  
.call{
    text-align: left;
    position: relative;
    top: 70px;
    letter-spacing: 10px;
    right: 7px;
    font-weight: bolder;
    font-size: 20pt;
} 
hr{
    width: 450px;
    position: relative;
    right: 540px;
    top: 40px;
}
h3{
    position: relative;
    top: 50px;
    right: 560px;
    letter-spacing: 3px;
}
.box{
    width: 450px;
    height: auto;
    position: relative;
    top: 10px;
    padding: 20px;
}
.items 
{
    position: absolute;
    left : 950px;
    justify-content: space-between;
    bottom: 80px;
    gap: 500px;
    word-spacing: 45px;
    font-size: 20px;
    font-display: block;
    font-weight: 550;
    font-style: oblique;
}
.items a{
    color : rgb(19, 19, 19);
    text-decoration: none;
}
.items a:hover{
    color: maroon;
    cursor: pointer;
}

h4{
    text-align: left;
    font-size: 20px;
}
.phone, .email, .address, .hours{
    text-align: left;
    font-size: 25px;

}
.get{
    position: relative;
    top: -19px
}
footer{
    text-align: center;
    position: relative;
    top: 1%;
    background-color: yellow;
}